@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}



*/CABEÇALHO*/   

#cabecario {
    align-items: center;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
}

#cabecario > h1, #cabecario > p {
    color: #fff;
}

#cabecario > h1 {
    font-size: 50px;
}

#cabecario > p {
    font-size: 20px;
} 



*/NAVEGAÇÃO*/  

#navegacao {
    background-color: rgba(230, 230, 230, 0.253);
    display: flex;
    justify-content: space-around;
    min-height: 150px;
}

#navegacao > div {
    align-items: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}



*/CORPO*/  

#corpo {
    margin: 40px 20px;
}

#corpo > #sec-informacoes {
    display: flex;
    justify-content: space-around;
}

#corpo > #sec-informacoes > #text-box > div > p {
    margin: 10px 0px;
    text-indent: 10px;
}

#corpo > #sec-informacoes > #text-box > #nav-img {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 50px;
}

#corpo > #sec-informacoes > #text-box > #nav-img > div > img {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 200px;
    transition: 0.5s;
    width: 200px;
}

#corpo > #sec-informacoes > #text-box > #nav-img > div:hover > img {
    margin-top: -10px;
}

#corpo > #sec-informacoes > #text-box {
    max-width: 800px;
}

#corpo > #sec-informacoes > #text-box > h2 {
    font-size: 40px;
    font-weight: bolder;
} 



*/FOOTER*/  

#rodape {
    align-items: center;
    background-color: #303030;
    color:#fff;
    display: flex;
    gap: 20px;
    justify-content: center;
    min-height: 100px;
}

#rodape > div {
    align-items: center;
    display: flex;
    gap: 5px;
}

#rodape > div > input, button {
    border-radius: 5px;
    padding: 5px;
}

#rodape > div > img {
    width: 25px;
}

#rodape > div > button {
    transition: 0.5s;
}

#rodape > div > button:hover {
    background-color: #5c5c5c;
    color: #fff;
}